<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamTalk</title>
  </head>
  <body>
    <h4><%=detailPost.title%></h4>
    <p><%= detailPost.content %></p>
    <img src="<%=detailPost.image_url%>" />
  </body>
</html>
