<link rel="stylesheet" href="/css/footer.css" />

<footer class="footer">
  <div class="content">
    <p>
      <strong>DreamTalk</strong> by
      <strong><a href="https://github.com/taehwan0809" class="name">Taehwan Park</a></strong>.<br />I will
      always hope that your right dreams come true. 2025.12.~<br />
      <div class="icon">
      <a href="https://www.instagram.com/taehwan_1004/"
        ><i class="fa-brands fa-square-instagram" style="color: #6fa8dc"></i
      ></a>
      <a href="https://taehwan0809.tistory.com/"
        ><i class="fa-solid fa-blog" style="color: #6fa8dc"></i
      ></a>
      </div>
    </p>
  </div>
</footer>
