<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamTalk</title>
  </head>
  <body>
    <form class="signup-box" action="/login" method="post">
      <h4>로그인</h4>
      <label for="email">email:</label>
      <input type="email" name="email" required />

      <label for="nickname">nickname:</label>
      <input type="text" name="nickname" required />

      <label for="password">password:</label>
      <input type="password" name="password" required />

      <button type="submit">전송</button>
    </form>
  </body>
</html>
