<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button><a href="/login">로그인</a></button>
    <button><a href="/sign">회원가입</a></button>
    <button><a href="/list">게시글</a></button>
    <button><a href="/write">글 작성</a></button>
    
</body>
</html>