<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/d3e3ac98d6.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&display=swap"
      rel="stylesheet"
    />
    <!-- 구글 폰트 -->
    <script src="js/scripts.js" defer></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_logo">
        <a href="/">드림톡</a>
      </div>
      <ul class="nav_menu">
        <li><a href="/">홈</a></li>
        <li><a href="/list">고민 나누기</a></li>
        <li><a href="/write">글쓰기</a></li>
      </ul>
      <ul class="nav_icons">
        <li>
          <a href="/login"><i class="fa-solid fa-user"></i></a>
        </li>
      </ul>
      <a href="#" class="navbar_toggleBtn">
        <i class="fa-solid fa-bars"></i>
      </a>
    </nav>
  </body>
</html>
