<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class="post-box" action="/write" method="post" enctype="multipart/form-data">
        <input name="title"/>
        <input name="content"/>
        <input type="file" name="img" accept = "image/* multiple"/>
        <button type="submit">제발...</button>
    </form>



</body>
</html>