<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamTalk</title>
    <link rel="stylesheet" href="/css/post.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&family=Momo+Trust+Display&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <%-include('nav.ejs')%>
    <div id="board_write">
      <h4>글 작성</h4>
      <div id="write_area">
        <form enctype="multipart/form-data" action="/write" method="post">
          <div class="category">
            <p>카테고리</p>
            <input type="radio" name="category" value="IT/개발" />IT/개발
            <input type="radio" name="category" value="디자인" />디자인
            <input
              type="radio"
              name="category"
              value="비즈니스"
            />비즈니스(경영/사무 등)
            <input type="radio" name="category" value="공공/교육" />공공/교육
            <input
              type="radio"
              name="category"
              value="전문직"
            />전문직(의료/과학 등)
            <input
              type="radio"
              name="category"
              value="서비스/현장"
            />서비스/현장
            <br />
            <input
              type="radio"
              name="category"
              value="미정/탐색"
            />진로미정/탐색
          </div>
          <div id="in_title">
            <textarea
              name="title"
              id="utitle"
              rows="1"
              cols="55"
              placeholder="제목"
              maxlength="100"
              required
            ></textarea>
          </div>

          <div id="in_content">
            <textarea
              name="content"
              id="ucontent"
              placeholder="내용"
              required
            ></textarea>
          </div>

          <label>
            <input
              class="file_real"
              type="file"
              name="img"
              accept="image/jpeg,image/png"
            />
            <input
              class="file_fake"
              type="text"
              placeholder="* jpg, png만 넣어주세요"
              readonly
              tabindex="-1"
            />
            <span class="button">사진 첨부</span>
          </label>
          <button class="btn" type="submit">작성 완료</button>
        </form>
      </div>
    </div>
    <%-include('footer.ejs')%>

    <script>
      $(document).ready(function () {
        $(".file_real").on("change", function () {
          var files = $(this)[0].files[0];
          var fake = $(".file_fake");

          fake.val("");
          if (files != undefined) {
            fake.val(files.name);
          }
        });
      });
      // jquery 사용
    </script>
  </body>
</html>
