


body{
    background-color: #fffef9;

}

.bigTitle{
  margin-top: 3%;
  text-align: center;
  margin-bottom: 3%;
  color: #4a4a4a;
}
.ab-table{
  width: 54%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.ab-table tr{
  position: relative;
  border-bottom: 1px solid #d0d0d0;
}
.posts:hover{
  background-color: #6FA8DC;
  color: white;
}
.posts:hover td{
  color: white;
}



.ab-table thead{
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}

.ab-table th, .ab-table td{
  padding: 0.75em;
  line-height: 1.75em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title2{
  width: 30%;
}

.content2{
  width: 30%;
}
.category2{
  width: 20%;
}
.date2{
  width: 20%;
}

tbody{
  display: table-row-group;
  vertical-align: middle;
  unicode-bidi: isolate;
  border-color: inherit;
}

tbody td{
  text-align: center;
}

table{
  font-size: 12px;
  letter-spacing: -0.5px;
}

.ab-table td{
  color: #4a4a4a
}


.ab-link{
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    z-index: 1;
}



.delete{
  position: relative;
  z-index: 2;
  color: #4a4a4a;
  
}

.delete:hover{
  background-color: red;
}


.update{
  position: relative;
  z-index: 2;
  color: #4a4a4a;
}