body{
    background-color: #fffef9;
    color: #4a4a4a;
}

#board_write{
    max-width: 700px;
    margin: 0 auto;
    
}


#board_write h4{
    text-align: center;
    font-size: 3vh;
    font-family: "Jua", sans-serif;
    font-weight: 500;

}

textarea{
    border: none;
    border-radius: 6px;

    box-sizing: border-box;
}

#utitle{
    font-size: 32px;
    font-weight: bold;
    width: 100%;
    border-bottom: #d0d0d0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-shadow: 0px 12px 123px #6FA8DC;


    
}

#ucontent{
    min-height: 120px;
    width: 100%;
        font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 17px;
    box-shadow: 0px 90px 223px 8px #6FA8DC;

    

}

#in_title textarea{
    border-bottom: 1px solid #d0d0d0;

}

#in_title {

    padding-top: 3%;
    padding-bottom: 3%;
}

label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;

    .file_real{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .file_fake{
        border-radius: 6px;
        padding: 0 15px;
        width: 100%;
        height: 34px;
        border: 1px solid #ddd;
    }
    .button{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 0;
        padding: 0 15px;
        height: 24px;
        font-size: 13px;
        color: #fff;
        background-color: #6FA8DC;
    }
}



.btn{
    border: 1px solid #6FA8DC;
    margin-top: 13px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 6px;
    color: #4a4a4a;
    font-size: 14px;
    
}


.btn:hover{
    background-color: #6FA8DC;
    color: #fff;
}


.category p{
    font-size: 19px;
    margin-bottom: 0;
    padding-bottom: 1%;

}

[type ="radio"]{
    accent-color: #6FA8DC;
    
}