*{
    padding: 0;
    margin: 0;
    border: none;

}

body{
    background-color: #fffef9;
    display: grid;
    height: 100vh;
    place-items: center;
}

a{
    text-decoration: none;
}

.loginwrap{
    width: 500px;
    height: 560px;
    padding: 40px;
    box-sizing: border-box;
}

.loginwrap h4{
    font-size: 5vh;
    color: #6FA8DC;
    margin-bottom: 20px;
    text-align: center;
}

.signup-box input{
    width: 100%;
    height: 60px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 3px;
    border: solid 1px #d0d0d0;
    font-size: 18px;
}

.signup-box input[type="submit"]{
    background-color: #6FA8DC;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    border: none;
}


.logo {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sign{
    border-top: solid 1px #d0d0d0;
    text-align: center;
    margin-top: 8px;
}
.sign h4{
    color: #4a4a4a;
    padding-top: 1vh;
    font-size: 1.3vh;
}