:root {
        --swiper-theme-color: #6fa8dc;
      }
      body {
        position: relative;
        height: 100%;
        background-color: #fffef9;
      }

      body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #fff;
        margin: 0;
        padding: 0;
      }

      .swiper {
        box-sizing: border-box;
        max-width: 2560px;
        margin: 0 auto;
        height: 800px;
        min-height: initial;
        max-height: 800px;
        display: block;
        position: relative;
        overflow: hidden;
      }

      .swiper-slide {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
      }
      /*
            @media screen and (min-width: 1025px) and (max-width: 1440px) {
              .swiper {
                height: 450px;
              }
            } */

      .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .swiper-pagination .swiper-pagination-bullet {
        color: #6fa8dc;
      }
      .swiper-button-prev {
        color: #6fa8dc;
      }

      .content1 {
        font-size: 16px;
        position: absolute;
        left: 16.3%;
        top: 55%;
      }
      .title1 {
        font-size: 60px;
        position: absolute;
        left: 16%;
        top: 30%;
      }

      .title2 {
        font-size: 60px;
        position: absolute;
        left: 16%;
        top: 39%;
      }

      .title3 {
        font-size: 60px;
        position: absolute;
        left: 43%;
        top: 3%;
      }

      .title4 {
        font-size: 60px;
        position: absolute;
        left: 43%;
        top: 13%;
      }

      .content2 {
        font-size: 16px;
        position: absolute;
        left: 46.8%;
        top: 28%;
      }

      .title5 {
        font-size: 60px;
        position: absolute;
        left: 23%;
        top: 41%;
      }

      .title6 {
        font-size: 60px;
        position: absolute;
        left: 65%;
        top: 41%;
      }

      .content3 {
        font-size: 16px;
        position: absolute;
        left: 45%;
        top: 49%;
      }

      @media screen and (max-width: 768px) {
        .title3 {
          left: 20%;
        }
        .title4 {
          left: 34%;
          top: 14%;
        }
        .content2 {
          top: 43%;
        }
        .title5 {
          top: 26%;
          left: 30%;
        }
        .title6 {
          left: 18%;
          top: 57%;
        }
        .content3 {
          left: 35%;
        }
      }

      .swiper-button-next {
        color: #6fa8dc;
      }